.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_category_id__label { }
.css_category_id__line {text-align:left;}
.css_category_id__obj {text-align:left;}
.css_marks__label { }
.css_marks__line {font-size:15px;color:#009900;font-weight:bold;text-align:left;}
.css_marks__obj {font-size:16px;color:#00CC00;font-weight:bold;border-width:5px;text-align:left;}
.css_comments__label { }
.css_comments__line { }
.css_comments__obj { }
