.css_card_grid_line {text-align: left;}
.css_dateofbirth_label {text-align:left;}
.css_dateofbirth_grid_line {vertical-align: top;}
.css_nationality_label {text-align:left;}
.css_nationality_grid_line {}
.css_gender_label {text-align:left;}
.css_gender_grid_line {vertical-align: top;}
.css_resident_label {text-align:left;}
.css_resident_grid_line {vertical-align: top;}
.css_blk_2 {}
.css_blk_3 {}
.css_blk_4 {}
.css_blk_5 {}
.css_blk_6 {}
.css_blk_7 {}
.css_blk_8 {}
.css_contact_detail_grid_line {text-align: left;}
.css_nok_grid_line {text-align: left;}
.css_academic_grid_line {text-align: left;}
.css_medical_information_grid_line {text-align: left;}
.css_performing_arts_grid_line {text-align: left;}
.css_personal_statement_grid_line {text-align: left;}
.css_file_upload_grid_line {text-align: left;}
.css_additional_information_grid_line {text-align: left;}
