.css_category_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_category_grid_line {vertical-align: top;text-align: right;}
.css_short_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_short_grid_line {vertical-align: top;text-align: right;}
.css_active_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_active_grid_line {vertical-align: top;text-align: right;}
.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
