.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_panel__label { }
.css_panel__line { }
.css_panel__obj { }
.css_audition_id__label { }
.css_audition_id__line {text-align:left;}
.css_audition_id__obj {text-align:left;}
