.css_panel_grid_line {color:#009900;font-family:Lucida Console, Arial, sans-serif;font-size:14px;font-weight:bold;vertical-align: top;text-align: right;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_audition_id_grid_line {vertical-align: top;text-align: right;}
