.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_panel_det_label {text-align: left;vertical-align: middle;}
.css_panel_det_line {font-family:Lucida Console, Arial, sans-serif;font-size:14px;color:#009900;font-weight:bold;height:0px;text-align: left;}
.css_audition_id_det_label {text-align: left;vertical-align: middle;}
.css_audition_id_det_line {height:0px;text-align: left;}
