.css_fileid_det_label {text-align: left;vertical-align: middle;}
.css_fileid_det_line {height:0px;text-align: left;}
.css_login_det_label {text-align: left;vertical-align: middle;}
.css_login_det_line {height:0px;text-align: left;}
.css_filename_det_label {text-align: left;vertical-align: middle;}
.css_filename_det_line {height:0px;text-align: left;}
.css_uploaded_det_label {text-align: left;vertical-align: middle;}
.css_uploaded_det_line {height:0px;text-align: left;}
