.css_blk_0 {color:#990000;font-size:15px;}
.css_blk_2 {}
.css_blk_3 {}
.css_blk_4 {}
.css_audition_card_label {text-align:left;}
.css_audition_card_grid_line {}
.css_manage_outcomes_grid_line {text-align: right;}
.css_venue_label {text-align:left;}
.css_venue_grid_line {}
.css_contact_label {text-align:left;}
.css_contact_grid_line {}
.css_type_label {text-align:left;}
.css_type_grid_line {vertical-align: top;}
.css_location_type_label {text-align:left;}
.css_location_type_grid_line {vertical-align: top;}
.css_student_no_label {text-align:left;}
.css_student_no_grid_line {vertical-align: top;}
.css_status_label {text-align:left;}
.css_status_grid_line {vertical-align: top;}
