.css_image_headshot_label {text-align:left;}
.css_image_headshot_grid_line {vertical-align: top;}
.css_full_length_label {text-align:left;}
.css_full_length_grid_line {vertical-align: top;}
.css_submitted_label {text-align:left;}
.css_submitted_grid_line {vertical-align: top;}
