.css_contact_person_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_contact_person_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_phone_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_phone_grid_line {vertical-align: top;text-align: right;}
.css_website_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_website_grid_line {vertical-align: top;text-align: right;}
