.css_academic_id_label { }
.css_academic_id_line {text-align:left;}
.css_academic_id_obj {text-align:left;}
.css_level_label { }
.css_level_line {text-align:left;}
.css_level_obj {text-align:left;}
.css_subject_label { }
.css_subject_line { }
.css_subject_obj { }
.css_grades_label { }
.css_grades_line { }
.css_grades_obj { }
