.css_pswd_label {font-size:15px;font-weight:bold;}
.css_pswd_line { }
.css_pswd_obj { }
.css_firstname_label {font-size:15px;font-weight:bold;}
.css_firstname_line { }
.css_firstname_obj { }
.css_lastname_label {font-size:15px;font-weight:bold;}
.css_lastname_line { }
.css_lastname_obj { }
.css_email_label {font-size:15px;font-weight:bold;}
.css_email_line { }
.css_email_obj { }
.css_confirm_pswd_label {font-size:15px;font-weight:bold;}
.css_confirm_pswd_line { }
.css_confirm_pswd_obj { }
