.css_venue_id_label { }
.css_venue_id_line {text-align:left;}
.css_venue_id_obj {text-align:left;}
.css_audition_date_label { }
.css_audition_date_line { }
.css_audition_date_obj { }
.css_audition_title_label { }
.css_audition_title_line { }
.css_audition_title_obj { }
.css_audition_fee_label { }
.css_audition_fee_line {text-align:left;}
.css_audition_fee_obj {text-align:left;}
.css_audition_details_label { }
.css_audition_details_line { }
.css_audition_details_obj { }
.css_contact_person_label { }
.css_contact_person_line { }
.css_contact_person_obj { }
.css_student_no_label { }
.css_student_no_line {text-align:left;}
.css_student_no_obj {text-align:left;}
.css_type_label { }
.css_type_line { }
.css_type_obj { }
.css_location_type_label { }
.css_location_type_line { }
.css_location_type_obj { }
.css_status_label { }
.css_status_line { }
.css_status_obj { }
