.css_audition_fees_label {text-align:left;}
.css_audition_fees_grid_line {font-size:18px;font-weight:bold;vertical-align: middle;}
.css_venue_id_label {text-align:left;}
.css_venue_id_grid_line {vertical-align: top;}
.css_audition_id_label {text-align:left;}
.css_audition_id_grid_line {vertical-align: top;}
.css_program_label {text-align:left;}
.css_program_grid_line {vertical-align: top;}
.css_blk_2 {}
.css_payment_status_grid_line {vertical-align: top;text-align: right;}
.css_payment_grid_line {color:#FFFFFF;font-size:15px;background-color:#336600;font-weight:bold;vertical-align: middle;text-align: right;}
.css_verify_notification_grid_line {color:#CC6600;text-align: right;}
