.css_id__label {text-align:;}
.css_id__line {text-align:left;}
.css_id__obj {text-align:left;}
.css_number__label {text-align:;}
.css_number__line {text-align:left;}
.css_number__obj {text-align:left;}
.css_login__label { }
.css_login__line { }
.css_login__obj { }
.css_register__label { }
.css_register__line { }
.css_register__obj { }
.css_fullname__label { }
.css_fullname__line { }
.css_fullname__obj { }
.css_profile__label { }
.css_profile__line { }
.css_profile__obj {text-align:right;}
