.css_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_title_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_title_grid_line {vertical-align: top;text-align: left;}
.css_email_message_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_message_grid_line {vertical-align: top;text-align: left;}
.css_is_offer_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_is_offer_grid_line {vertical-align: top;text-align: left;}
.css_deposit_amount_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_deposit_amount_grid_line {vertical-align: top;text-align: right;}
.css_active_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_active_grid_line {vertical-align: top;text-align: left;}
