.css_training_examination_label {text-align:left;}
.css_training_examination_grid_line {vertical-align: top;}
.css_technical_skills_label {text-align:left;}
.css_technical_skills_grid_line {vertical-align: top;}
.css_interest_hobbies_label {text-align:left;}
.css_interest_hobbies_grid_line {vertical-align: top;}
.css_professional_goal_label {text-align:left;}
.css_professional_goal_grid_line {vertical-align: top;}
.css_blk_1 {}
.css_blk_2 {}
.css_youtube_label {text-align:left;}
.css_youtube_grid_line {vertical-align: top;}
.css_other_links_label {text-align:left;}
.css_other_links_grid_line {vertical-align: top;}
.css_supporting_documents_grid_line {text-align: right;}
