.css_fullname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_fullname_grid_line {vertical-align: top;text-align: left;}
.css_mobile_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mobile_grid_line {vertical-align: top;text-align: left;}
.css_relationships_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_relationships_grid_line {vertical-align: top;text-align: left;}
.css_login_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_login_grid_line {vertical-align: top;text-align: right;}
