.css_sec_users_login_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sec_users_login_grid_line {vertical-align: top;text-align: right;}
.css_sec_users_firstname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sec_users_firstname_grid_line {vertical-align: top;text-align: right;}
.css_sec_users_lastname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sec_users_lastname_grid_line {vertical-align: top;text-align: right;}
.css_sec_users_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sec_users_email_grid_line {vertical-align: top;text-align: right;}
.css_sec_users_active_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sec_users_active_grid_line {vertical-align: top;text-align: right;}
.css_view_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_view_grid_line {text-align: center;}
