.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_hesa_code_label { }
.css_hesa_code_line {text-align:left;}
.css_hesa_code_obj {text-align:left;}
.css_name_label { }
.css_name_line { }
.css_name_obj { }
