.css_firstname_grid_line {vertical-align: top;text-align: right;}
.css_lastname_grid_line {vertical-align: top;text-align: right;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_active_grid_line {vertical-align: top;text-align: right;}
.css_dummy_grid_line {text-align: right;}
.css_image_grid_line {text-align: right;}
.css_login_grid_line {vertical-align: top;text-align: right;}
.css_blk_5 {}
.css_basic_information_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_basic_information_grid_line {font-size:18px;font-weight:bold;text-align: right;}
.css_medical_information_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_medical_information_grid_line {font-size:18px;font-weight:bold;text-align: right;}
.css_audition_detail_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_audition_detail_grid_line {font-size:18px;font-weight:bold;text-align: right;}
.css_academics_qualifications_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_academics_qualifications_grid_line {font-size:18px;font-weight:bold;text-align: right;}
.css_performing_art_trainings_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_performing_art_trainings_grid_line {font-size:18px;font-weight:bold;text-align: right;}
.css_personal_statement_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_personal_statement_grid_line {font-size:18px;font-weight:bold;text-align: right;}
.css_image_upload_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_image_upload_grid_line {font-size:18px;font-weight:bold;text-align: right;}
.css_additional_information_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_additional_information_grid_line {font-size:18px;font-weight:bold;text-align: right;}
.css_file_upload_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_file_upload_grid_line {font-size:18px;font-weight:bold;text-align: right;}
