.css_description_label { }
.css_description_line { }
.css_description_obj {text-align:right;}
.css_login_label { }
.css_login_line { }
.css_login_obj { }
.css_venue_booking_label { }
.css_venue_booking_line { }
.css_venue_booking_obj { }
.css_booking_id_label { }
.css_booking_id_line { }
.css_booking_id_obj { }
.css_venue_id_label { }
.css_venue_id_line {color:#FFFFFF;}
.css_venue_id_obj { }
.css_audition_id_label { }
.css_audition_id_line {color:#FFFFFF;}
.css_audition_id_obj { }
.css_application_fee_label { }
.css_application_fee_line { }
.css_application_fee_obj { }
