.css_image_upload_image_headshot_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_image_upload_image_headshot_grid_line {vertical-align: top;text-align: left;}
.css_basic_information_firstname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_basic_information_firstname_grid_line {vertical-align: top;text-align: left;}
.css_basic_information_lastname_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_basic_information_lastname_grid_line {vertical-align: top;text-align: left;}
.css_sec_users_email_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_sec_users_email_grid_line {vertical-align: top;text-align: left;}
.css_basic_information_gender_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_basic_information_gender_grid_line {vertical-align: top;text-align: left;}
.css_view_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_view_grid_line {text-align: center;}
.css_application_detail_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_application_detail_id_grid_line {vertical-align: top;text-align: right;}
.css_application_detail_number_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_application_detail_number_grid_line {vertical-align: top;text-align: right;}
.css_application_detail_venue_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_application_detail_venue_id_grid_line {vertical-align: top;text-align: right;}
.css_application_detail_audition_id_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_application_detail_audition_id_grid_line {vertical-align: top;text-align: right;}
.css_audition_audition_date_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_audition_audition_date_grid_line {vertical-align: top;text-align: center;}
.css_audition_audition_title_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_audition_audition_title_grid_line {vertical-align: top;text-align: left;}
