.css_full_address_label {text-align:left;}
.css_full_address_grid_line {vertical-align: top;}
.css_country_label {text-align:left;}
.css_country_grid_line {vertical-align: top;}
.css_contact_number_label {text-align:left;}
.css_contact_number_grid_line {vertical-align: top;}
