.css_level_grid_line {color:#003399;font-size:15px;font-weight:bold;vertical-align: top;text-align: right;}
.css_dates_grid_line {text-align: right;}
.css_card_grid_line {text-align: right;}
.css_subjects_grid_line {text-align: right;}
