.css_howyouhearus_label {text-align:left;}
.css_howyouhearus_grid_line {vertical-align: top;}
.css_specify_how_label {text-align:left;}
.css_specify_how_grid_line {vertical-align: top;}
.css_anything_else_label {text-align:left;}
.css_anything_else_grid_line {vertical-align: top;}
