.css_id_label { }
.css_id_line {text-align:left;}
.css_id_obj {text-align:left;}
.css_name_label { }
.css_name_line { }
.css_name_obj { }
.css_display_order_label { }
.css_display_order_line {text-align:left;}
.css_display_order_obj {text-align:left;}
.css_status_label { }
.css_status_line {text-align:left;}
.css_status_obj {text-align:left;}
