.css_blk_0 {}
.css_blk_1 {}
.css_audition_id_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_audition_id_grid_line {vertical-align: top;text-align: left;}
.css_audition_audition_date_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_audition_audition_date_grid_line {vertical-align: top;text-align: left;}
.css_audition_audition_title_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_audition_audition_title_grid_line {vertical-align: top;text-align: left;}
.css_auditionees_label {vertical-align:middle; font-weight:bold;text-align:left;}
.css_auditionees_grid_line {text-align: left;}
.css_venue_venue_name_grid_line {vertical-align: top;text-align: left;}
.css_venue_address_1_grid_line {vertical-align: top;text-align: left;}
.css_venue_address_2_grid_line {vertical-align: top;text-align: left;}
.css_venue_town_city_grid_line {vertical-align: top;text-align: left;}
.css_venue_county_grid_line {vertical-align: top;text-align: left;}
.css_venue_country_grid_line {vertical-align: top;text-align: left;}
