.css_name_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line {vertical-align: top;text-align: right;}
.css_seq_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_seq_grid_line {vertical-align: top;text-align: right;}
.css_status_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_status_grid_line {vertical-align: top;text-align: right;}
