.css_name_label { }
.css_name_line { }
.css_name_obj { }
.css_seq_label {text-align:;}
.css_seq_line {text-align:left;}
.css_seq_obj {text-align:left;}
.css_status_label { }
.css_status_line {text-align:left;}
.css_status_obj {text-align:left;}
