.css_id_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: center;}
.css_venue_id_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_venue_id_grid_line {vertical-align: top;text-align: left;}
.css_audition_date_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_audition_date_grid_line {vertical-align: top;text-align: left;}
.css_audition_title_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_audition_title_grid_line {vertical-align: top;text-align: left;}
.css_pending_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_pending_grid_line {text-align: center;}
.css_complete_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_complete_grid_line {text-align: center;}
.css_prepare_label {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_prepare_grid_line {text-align: center;}
.css_audition_fee_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_audition_fee_grid_line {vertical-align: top;text-align: right;}
.css_audition_details_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_audition_details_grid_line {vertical-align: top;text-align: left;}
