.css_any_disability_label {text-align:left;}
.css_any_disability_grid_line {vertical-align: top;}
.css_what_type_disability_label {text-align:left;}
.css_what_type_disability_grid_line {vertical-align: top;}
.css_any_anxiety_label {text-align:left;}
.css_any_anxiety_grid_line {vertical-align: top;}
.css_what_type_anxiety_label {text-align:left;}
.css_what_type_anxiety_grid_line {vertical-align: top;}
.css_medical_information_label {text-align:left;}
.css_medical_information_grid_line {vertical-align: top;}
