.css_level_grid_line {color:#003399;font-size:15px;font-weight:bold;vertical-align: top;text-align: left;}
.css_dates_grid_line {text-align: left;}
.css_card_grid_line {text-align: left;}
.css_subjects_grid_line {text-align: left;}
.css_add_subject_grid_line {color:#009900;font-size:14px;font-weight:bold;text-align: left;}
